// @font-face {
//   font-family: "Cross Town";
//   src: url("/assets/fonts/billy-argel_cross-town-personal-use/Cross Town Personal Use.ttf");
// }

// @font-face {
//   font-family: "Nasa";
//   src: url("/assets/fonts/nasalization/nasalization-rg.ttf");
// }

@font-face {
  font-family: "Philosopher";
  src: url("/assets/fonts/philosopher/Philosopher-Regular.ttf");
}