
.app {
  color: #262626;
  // font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-family: "Philosopher";
  height: 100%;

}

.title {
  margin: auto;
  white-space: pre;
}

.app-header {
  position: sticky;
  top: 0px;
  z-index: 1;
  text-transform: capitalize;
}

.app-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
  width: 95%;
  margin: auto;
  position: relative;
}
.router-container {
  position: relative;
  top: 0px;
}
.opaque {
  position: relative;
  background: rgba(245, 245, 245, 0.2);
  border-radius: 10px;
}
.opaque::before {
  background: url(/assets/images/pexels-photo-993022.jpeg) no-repeat top right fixed;
  background-size: 110%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}


.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header {
  font-size: 2.5em;
  text-align: center;
  text-transform: capitalize;
  margin: 25px;
  .sub-header {
      font-size: 0.5em;
      float: right;
  }
  .quote {
      font-size: 1.5em;
  }
}
#back-nav {
  float: left;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.app-problem:nth-child(odd)  {
  & > .problem-container {
    @extend .flex-row;
    &>div:first-child {
      border-right: solid 2px lightgray;
    }
  }
}

.app-problem:nth-child(even)  {
  & > .problem-container {
    @extend .flex-row;
    flex-direction: row-reverse;
    &>div:first-child {
      border-left: solid 2px lightgray;
    }
  }
}

.clickable {
  cursor: pointer;
}