<div class="app">
  <div class="app-header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span routerLink="/" class="clickable"><mat-icon *ngIf="showBackButton" class="example-icon">home</mat-icon></span>
        <span class="title">{{title}}</span>
        <span></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app-body">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>