<div class="problem-container opaque">
  <div>
    <ng-content select=".problem-analysis"></ng-content>
  </div>
  <div class="problem-visualization">
    <ng-content select=".problem-visualization"></ng-content>
  </div>
</div>

