<div class="flex-container dashboard opaque">
    <div class="header">
      <div><span class="quote">"</span>{{quote.quote}}<span class="quote">"</span></div>
      <div class="sub-header"><em>- {{quote.author}}</em></div>
    </div>
    <div id="categories" class="flex-column">
      <div class="flex-row">
        <div class="flex-item category"><a mat-raised-button color="primary" class="category-inner">Energy</a></div>
        <div class="flex-item category"><a mat-raised-button color="primary" class="category-inner" [routerLink]="['/food']">Food</a></div>
        <div class="flex-item category"><a mat-raised-button color="primary" class="category-inner">Poverty</a></div>
        <div class="flex-item category"><a mat-raised-button color="primary" class="category-inner">War</a></div>
        <div class="flex-item category"><a mat-raised-button color="primary" class="category-inner">Health</a></div>
      </div>
    </div>
</div>
  