.dashboard {
  height: 100%;
  margin: auto;
  width: 75%;
  justify-content: space-between;
  margin-top: 15vh;
}
#categories {
  display: flex;
  margin: 50px;
  text-transform: uppercase;
  >.flex-row {
    width: 100%;
  }
}
.category {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.category-inner {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    min-width: 120px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.5;
    color: white;
    // &:hover {
    //     &:before {
    //         content: "";
    //         display: block;
    //         padding-top: 50%;
    //         /* ratio of 1:1*/
    //         transition: all 0.5s ease;
    //     }
    //     padding: 0px;
    //     width: 100%;
    //     &:after {
    //         content: "";
    //         display: block;
    //         padding-bottom: 50%;
    //         /* ratio of 1:1*/
    //         transition: all 0.5s ease;
    //     }
    // }
}