@import 'variables';

@import './app/app.component.scss';

html {
  background: url(/assets/images/pexels-photo-993022.jpeg) no-repeat top right fixed;
  background-size: 110%;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px; //Need if you don't want scrolling overflow on front page
}

app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  color: #262626;
}
.loading {
  opacity: 0;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
  transition: all .5s ease-out;
  z-index: -100;
}